<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
    <style>
        .border{
            border-style: solid;
            border-color: cornflowerblue;
            border-width: 1px;
        }
    </style>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="height:400px;width:50%" class="pull-left border"></div>
<!-- ECharts单文件引入 -->
<div class="pull-right border"  style="height:400px;width:50%;text-align: center;" >
    <div><h2>代码提交</h2></div>
    <div>
        <label for="file"><img src="/app/static/add.jpg" alt="" width="200px" height="200px" style="top:50%"></label>
    </div>
    <input type="file" name="file" id="file" style="display: none">
    <div>
        <button type="button" class="btn btn-info" id="send" style="margin-top: 30px">提交</button>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="/app/static/layer/layer.js"></script>
<script>
    $("#send").on("click", function () {
        var upload_file=$("#file")[0].files[0];

        if (upload_file === undefined){
             layer.open({
              title: '上传错误'
              ,content: '请选择文件'
            });
        }else if (upload_file.size / 1024 / 1024 > 1){
            layer.open({
              title: '上传错误'
              ,content: '文件大于1M'
            });

        }
        });

    function get_file() {
        var upload_file = $("#file")[0].files[0];
        return upload_file
    }

</script>
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>


<script type="text/javascript">
    // 路径配置
    require.config({
        paths: {
            echarts: 'http://echarts.baidu.com/build/dist'
        }
    });

    // 使用
    require(
        [
            'echarts',
            {#'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载#}
            'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
        ],
        function (ec) {
            // 基于准备好的dom，初始化echarts图表
            var myChart = ec.init(document.getElementById('main'));

            var option = {
                tooltip: {
                    show: true
                },
                legend: {
                    data: ['销量','销量1']
                },
                xAxis: [
                    {
                        type: 'category',
                        {#data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]#}
                        data: ["2018-9-20", "2018-9-21", "2018-9-22", "2018-9-23", "2018-9-24", "2018-9-25"]
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        "name": "销量",
                        "type": "line",
                        "data": [5, 20, 40, 10, 10, 20]
                    },
                    {
                        "name": "销量1",
                        "type": "line",
                        "data": [52, 20, 40, 40, 10, 20]
                    }
                ]
            };

            // 为echarts对象加载数据
            myChart.setOption(option);
        }
    );
</script>
</body>
</html>